@model IEnumerable<QuizMaster.Models.Quiz>
@{
    ViewData["Title"] = "Community quiz";
}

@section Styles {
    <link rel="stylesheet" href="~/css/communityquiz.css" />
}

<div class="container pt-4">
    <h2 class="text-center mb-3">Community quiz</h2>

    <div class="d-flex flex-wrap align-items-center justify-content-center gap36 mb-4">
        @*Lọc theo level*@
        <form asp-controller="Home" asp-action="CommunityQuiz" class="search-container d-flex flex-row justify-content-center align-items-center gap12 flex-wrap" method="get">
            <div class="community-quiz-level my-3 d-flex align-items-center">
                <label>Difficulty: </label>
                <select name="difficultyFilter" id="difficultyFilter" class="bg-ghost border-0 fw-semibold text-center text-dark">
                    <option value="0" class="text-dark fw-semibold">All</option>
                    <option value="1" class="text-success fw-semibold">Easy</option>
                    <option value="2" class="text-warning fw-semibold">Medium</option>
                    <option value="3" class="text-danger fw-semibold">Hard</option>
                </select>
                <div class="circle mx-2 bg-dark"></div>
            </div>
            <input id="searchQuery" name="searchQuery" class="myBorder border-gray bg-ghost rounded-4" placeholder="Search..." />
            <button class="myButton myButton2-primary" type="submit">Search</button>
        </form>
    </div>

    <div id="searchResults" class="row">
        <!-- Search results will be displayed here -->
    </div>

</div>

@section Scripts {
    <script src="~/js/communityquiz.js"></script>
}