@{
    ViewData["Title"] = "Create your quiz";
}

<div class="container pt-4">
    <div class="create-quiz myCard bg-color1 text-white rounded-4">
        <div class="create-quiz-input w-100 text-center fs-5 mb-5">
            <textarea class="create-quiz-input-question bg-color1 w-100 text-white text-center border-0" placeholder="Type your question here"></textarea>
        </div>

        <div class="row">
            <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="myCard-create-quiz myCard-red">
                    <textarea class="create-quiz-input-answer w-100 h-100 text-white text-center border-0 myCard-red" placeholder="Type your answer here"></textarea>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="myCard-create-quiz myCard-blue">
                    <textarea class="create-quiz-input-answer w-100 h-100 text-white text-center border-0 myCard-blue" placeholder="Type your answer here"></textarea>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="myCard-create-quiz myCard-green">
                    <textarea class="create-quiz-input-answer w-100 h-100 text-white text-center border-0 myCard-green" placeholder="Type your answer here"></textarea>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="myCard-create-quiz myCard-yellow">
                    <textarea class="create-quiz-input-answer w-100 h-100 text-white text-center border-0 myCard-yellow" placeholder="Type your answer here"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>