@{
    ViewData["Title"] = "Welcome";
}

<div class="container pt-4">
    <div class="row">
        <div class="col-8">
            <div class="myCard">
                <h4 class="text-center mb-3">Enter a code to join game</h4>

                <form class="search-container d-flex flex-row justify-content-center align-items-center gap36">
                    <div class="search-container-input">
                        <input class="myBorder border-gray bg-ghost rounded-5" placeholder="Enter a quiz code" type="tel" aria-label="Enter a quiz code to play game" />
                    </div>
                    <button class="myButton myButton2-primary">Join</button>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="myCard">
                <h4 class="text-center mb-3">Want a quiz of your own?</h4>

                <a class="myButton myButton2-secondary text-decoration-none d-flex align-items-center justify-content-center gap12" asp-area="" asp-controller="Home" asp-action="CreateQuiz">
                    <i class="fa-solid fa-circle-plus fa-2xl text-center"></i>
                    <span class="fs-5">Create now</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="text-center mb-3">Community games</h2>

        <div class="row">
            @*Browse quiz item*@
            <div class="col col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="browseQuizCard">
                    @*Browse quiz info*@
                    <h5 class="browse-quiz-title">Ai thông minh hơn học sinh lớp 5</h5>
                    <span class="browse-quiz-questions">16 questions</span>
                    <span class="browse-quiz-difficulty">Difficulty: <strong class="text-success">Easy</strong></span>
                </div>
            </div>
            @*Browse quiz item*@
            <div class="col col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="browseQuizCard">
                    @*Browse quiz info*@
                    <h5 class="browse-quiz-title">Ai thông minh hơn học sinh lớp 6</h5>
                    <span class="browse-quiz-questions">18 questions</span>
                    <span class="browse-quiz-difficulty">Difficulty: <strong class="text-warning">Medium</strong></span>
                </div>
            </div>
            @*Browse quiz item*@
            <div class="col col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="browseQuizCard">
                    @*Browse quiz info*@
                    <h5 class="browse-quiz-title">Ai thông minh hơn học sinh lớp 7</h5>
                    <span class="browse-quiz-questions">19 questions</span>
                    <span class="browse-quiz-difficulty">Difficulty: <strong class="text-warning">Medium</strong></span>
                </div>
            </div>
            @*Browse quiz item*@
            <div class="col col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="browseQuizCard">
                    @*Browse quiz info*@
                    <h5 class="browse-quiz-title">Ai thông minh hơn học sinh lớp 8</h5>
                    <span class="browse-quiz-questions">20 questions</span>
                    <span class="browse-quiz-difficulty">Difficulty: <strong class="text-danger">Hard</strong></span>
                </div>
            </div>            @*Browse quiz item*@
            <div class="col col-xl-3 col-lg-4 col-md-6 mb-3">
                <div class="browseQuizCard">
                    @*Browse quiz info*@
                    <h5 class="browse-quiz-title">Ai thông minh hơn học sinh lớp 8</h5>
                    <span class="browse-quiz-questions">20 questions</span>
                    <span class="browse-quiz-difficulty">Difficulty: <strong class="text-danger">Hard</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>
