@{
    ViewData["Title"] = "Welcome";
}

<div class="container pt-4">
    <div class="row">
        <div class="col-8">
            <div class="myCard">
                <h4 class="text-center mb-3">Enter a quiz code to join game</h4>
                <form class="search-container d-flex flex-row justify-content-center align-items-center gap36">
                    <div class="search-container-input">
                        <input class="myBorder border-gray bg-ghost rounded-5" placeholder="Enter a quiz code" type="tel" aria-label="Enter a quiz code to play game" />
                    </div>
                    <button class="myButton text-white p-3 bg-color3 rounded-4 border-0">Join</button>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="myCard">
                hi
            </div>
        </div>
    </div>
</div>
