@{
    ViewData["Title"] = "Results";
}

@section Styles {
    <link rel="stylesheet" href="~/css/quizresults.css" />
}

<div class="container pt-4">
    <h2 class="text-center mb-3">Quiz title</h2>
    <p class="fw-semibold">Total plays: 4</p>

    <div class="results-container">

        <div class="results-container-item d-flex align-items-center justify-content-between">
            <span class="results-container-item-player fw-semibold">Player 1</span>
            <span class="results-container-item-score">Score: <strong>5/10</strong></span>
            <span class="results-container-item-time">Turned in at: <strong>15:03 08/11/2023</strong></span>
        </div>

        <hr class="ms-1"/>
        <div class="results-container-item d-flex align-items-center justify-content-between">
            <span class="results-container-item-player fw-semibold">Player 1</span>
            <span class="results-container-item-score">Score: <strong>5/10</strong></span>
            <span class="results-container-item-time">Turned in at: <strong>15:03 08/11/2023</strong></span>
        </div>

        <hr class="ms-1"/>
        <div class="results-container-item d-flex align-items-center justify-content-between">
            <span class="results-container-item-player fw-semibold">Player 1</span>
            <span class="results-container-item-score">Score: <strong>5/10</strong></span>
            <span class="results-container-item-time">Turned in at: <strong>15:03 08/11/2023</strong></span>
        </div>

        <hr class="ms-1"/>
        <div class="results-container-item d-flex align-items-center justify-content-between">
            <span class="results-container-item-player fw-semibold">Player 1</span>
            <span class="results-container-item-score">Score: <strong>5/10</strong></span>
            <span class="results-container-item-time">Turned in at: <strong>15:03 08/11/2023</strong></span>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/quizresults.js"></script>
}