@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_AccountLayout";
}

<div class="vh-100 d-flex">
    <div class="w-50">
        <div class="w-50 h-100 m-auto">
            <div class="d-flex flex-column m-auto h-100 justify-content-center">
                <h1 class="fw-bold text-color2">@ViewData["Title"]</h1>
                <p class="text-gray-dark">Enter your email, we will have your account back</p>
                
                <form method="post" class="mb-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-4">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control myInput" type="email" autocomplete="username" aria-required="true" placeholder="Enter your email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <button type="submit" class="w-100 myButton myButton-primary">Reset Password</button>
                </form>

                <div class="d-flex mb-3 justify-content-between">
                    <a class="link-primary fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Back to login</a>

                    <a class="link-primary fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Create new account</a>
                </div>
            </div>
        </div>
    </div>

    <div id="photo" class="w-50"></div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}