.create-quiz-input-question,
.create-quiz-input-answer {
    resize: none;
    overflow: hidden;
}

    .create-quiz-input-question:focus,
    .create-quiz-input-answer:focus {
        outline: none;
    }

.create-quiz-input-answer::placeholder {
    color: #FFFFFF;
}

.myCard-create-quiz {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 200px;
    word-wrap: break-word;
    padding: 1rem 2rem;
    background-clip: border-box;
    border-radius: 1rem;
}

.myCard-red {
    background-color: #D32F2F !important;
}

.myCard-blue {
    background-color: #1976D2 !important;
}

.myCard-yellow {
    background-color: #c89924 !important;
}

.myCard-green {
    background-color: #388E3C !important;
}
