.search-container-input input {
    max-width: 400px;
    display: flex;
    padding: 12px 120px 12px 24px ;
}

    .search-container-input input:focus {
        outline: none;
        background-color: white !important;
    }

/*Card*/
.browseQuizCard {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border-radius: 0.5rem;
    border: #DDDDDD 1px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease;
}

.browseQuizCard:hover {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    transform: translateY(-2px);
}

/*Rank*/
.browse-quiz-details-ranking {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

    .browse-quiz-details-ranking:hover {
        color: var(--color2-hover) !important;
        cursor: pointer;
        transform: translateY(-2px);
    }

.ranking-item {
    padding: 1rem;
}

.ranking-item-first {
    color: white !important;
}