/*Card*/
.libraryQuizCard {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border-radius: 0.5rem;
    border: #DDDDDD 1px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease;
}

    .libraryQuizCard:hover {
        cursor: pointer;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
        transform: translateY(-2px);
    }

/*Code field*/
.library-details-code-field {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.library-details-code-field:hover .tooltip-text {
    visibility: visible;
}

.library-details-code-field-codefield {
    padding: 12px 24px;
}

.library-details-code-field-codefield:hover {
    cursor: default;
}

/*Result*/
.library-details-result {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

    .library-details-result:hover {
        color: var(--color2-hover) !important;
        cursor: pointer;
        transform: translateY(-2px);
    }

/*Pagination*/
.pagination .active .page-link {
    background-color: var(--color3);
    color: white;
    border-color: var(--color3);
}

.pagination .page-link {
    color: var(--color3);
}