.results-container {
    /*position: relative;*/
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.results-container-item {
    padding: 12px 48px;
}

/*Left tag*/
.left-tag-1 {
    position: relative;
}

    .left-tag-1:after {
        content: "";
        position: absolute;
        left: -4px;
        height: calc(100% + 1rem + 14px);
        width: 8px;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: var(--color1);
    }

.left-tag-2 {
    position: relative;
}

    .left-tag-2:after {
        content: "";
        position: absolute;
        left: -4px;
        height: calc(100% + 1rem + 14px);
        width: 8px;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: var(--color2);
    }

.left-tag-3 {
    position: relative;
}

    .left-tag-3:after {
        content: "";
        position: absolute;
        left: -4px;
        height: calc(100% + 1rem + 14px);
        width: 8px;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: var(--color3);
    }

@media (max-width: 575px) {
    .results-container-item {
        padding: 0px 24px;
    }
}

@media (max-width: 360px) {
    .results-container-item {
        padding: 0px 12px;
    }
}