:root {
    --color1: #361c14;
    --color2: #086375;
    --color3: #1DD3B0;
    --color4: #AFFC41;
    --color5: #B2FF9E;
    --color2-hover: #054551;
    --color3-hover: #14937b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    background-color: #f9f9f9;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

/*Background*/
.bg-ghost {
    background-color: #f9f9f9 !important;
}

.bg-color1 {
    background-color: var(--color1) !important;
}

.bg-color2 {
    background-color: var(--color2) !important;
}

.bg-color3 {
    background-color: var(--color3) !important;
}

.bg-color4 {
    background-color: var(--color4) !important;
}

.bg-color5 {
    background-color: var(--color5) !important;
}

/*Button*/
.myButton {
    display: inline-block;
    border-radius: 8px !important;
    padding: 12px 24px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.myButton-primary {
    color: #FFFFFF;
    background-color: var(--color2) !important;
    border: solid var(--color2) 2px;
    transition: all 0.3s ease;
}

    .myButton-primary:hover {
        background-color: var(--color2-hover) !important;
        border: solid var(--color2-hover) 2px;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 16px;
        transform: translateY(-2px);
    }

.myButton-secondary {
    color: var(--color2);
    background-color: transparent !important;
    border: solid var(--color2) 2px;
    transition: all 0.3s ease;
}

    .myButton-secondary:hover {
        color: #FFFFFF;
        background-color: var(--color2-hover) !important;
        border: solid var(--color2-hover) 2px;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 16px;
        transform: translateY(-2px);
    }

.myButton2-primary {
    color: #FFFFFF;
    background-color: var(--color3) !important;
    border: solid var(--color3) 2px;
    transition: all 0.3s ease;
}
    .myButton2-primary:hover {
        background-color: var(--color3-hover) !important;
        border: solid var(--color3-hover) 2px;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 16px;
        transform: translateY(-2px);
    }

.myButton2-secondary {
    color: var(--color3);
    background-color: #FFFFFF !important;
    border: solid var(--color3) 2px;
    transition: all 0.3s ease;
}

    .myButton2-secondary:hover {
        color: #FFFFFF;
        background-color: var(--color3-hover) !important;
        border: solid var(--color3-hover) 2px;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 16px;
        transform: translateY(-2px);
    }

/*Floating action button*/
.myButton-floating {
    background-color: var(--color2);
    position: fixed;
    gap: 8px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 1000;
    transition: all 0.3s ease;
}

    .myButton-floating:hover {
        cursor: pointer;
        background-color: var(--color2-hover); /* Change color on hover, for feedback */
        transform: translateY(-2px);
    }

/*Font weight*/
.fw-semibold {
    font-weight: 600 !important;
}

/*Text color*/
.text-gray-light {
    color: #CCCCCC;
}

.text-gray-medium {
    color: #999999;
}

.text-gray-dark {
    color: #666666;
}

.text-color1 {
    color: var(--color1);
}

.text-color2 {
    color: var(--color2);
}

.text-color3 {
    color: var(--color3);
}

.text-color4 {
    color: var(--color4);
}

.text-color5 {
    color: var(--color5);
}

/*Gap*/
.gap2 {
    gap: 2px;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap12 {
    gap: 12px;
}

.gap24 {
    gap: 24px;
}

.gap36 {
    gap: 36px;
}

/*Rounded*/
.rounded-4 {
    border-radius: 1rem;
}

.rounded-5 {
    border-radius: 1.25rem;
}

/*a tag - link*/
.link-primary {
    color: var(--color2);
    transition: 0.3s ease-in-out;
}

    .link-primary:hover {
        color: var(--color3);
    }

/*Form*/
.form-check-input {
    border-color: var(--color2);
}

    .form-check-input:checked {
        background-color: var(--color2);
        border-color: var(--color2);
    }

/*Input*/
.myInput {
    min-height: 52px !important;
    border-radius: 8px !important;
}

    .myInput:focus {
        border-color: var(--color2);
        box-shadow: 0 0 5px var(--color2);
    }

/*Border*/
.myBorder-bottom {
    border-bottom: 2px solid #CCCCCC;
}

.myBorder {
    border: 2px solid;
}

.border-gray {
    border-color: #CCCCCC !important;
}

/*Card*/
.myCard {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border-radius: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*Nav link*/
.myNav-link {
    color: var(--color3);
    transition: all 0.3s ease;
}

.nav-item:hover .myNav-link {
    color: var(--color3-hover);
    transform: translateY(-2px);
}